<div class="landing-page">
    <div class="mobile-menu">
        <a href={{home}} class="logo-mobile">
            <span></span>
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href={{solutions}}>SOLUTIONS</a>
            </li>
            <li class="nav-item">
                <a href={{about}}>ABOUT</a>
            </li>
            <li class="nav-item">
                <a href={{contact}}>CONTACT US</a>
            </li>
            <li class="nav-item">
                <a href={{projects}}>PROJECTS</a>
            </li>
            <li class="nav-item">
                <div class="separator"></div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ACCOUNT
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href={{login}}>SIGN IN</a>
                        <a class="dropdown-item" href={{register}}>SIGN UP</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="main-container">
        <nav class="landing-page-nav">
            <div class="container d-flex align-items-center justify-content-between">
                <a class="navbar-logo pull-left" href={{home}}>
                    <span class="white"></span>
                    <span class="dark"></span>
                </a>
                <ul class="navbar-nav d-none d-lg-flex flex-row">
                    <li class="nav-item">
                        <a href={{solutions}}>SOLUTIONS</a>
                    </li>
                    <li class="nav-item">
                        <a href={{about}}>ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a href={{contact}}>CONTACT US</a>
                    </li>
                    <li class="nav-item">
                        <a href={{projects}}>PROJECTS</a>
                    </li>
                    <li class="nav-item mr-3 active">
                        <a href={{login}}>SIGN IN</a>
                    </li>
                    <li class="nav-item pl-2">
                        <a class="btn btn-outline-semi-light btn-sm pr-4 pl-4" href={{register}}>SIGN UP</a>
                    </li>
                </ul>
                <a href="#" class="mobile-menu-button">
                    <i class="simple-icon-menu"></i>
                </a>
            </div>
        </nav>

        <!--Main Content Starts Here-->
        <div class="content-container">
            <div class="section home subpage-long">
                <div class="container">
                    <div class="row home-row mb-0">
                        <div class="col-12 col-lg-6 col-xl-4 col-md-12">
                            <div class="home-text">
                                <div class="display-1">
                                    Login
                                </div>
                                <p class="white mb-5">
                                    Please use your credentials to login.<br>
                                    If you are not a member, please <a href={{register}} class="white-underline-link">register</a>.
                                </p>


                                <form class="dark-background">
                                    <label class="form-group has-top-label">
                                        <input class="form-control" />
                                        <span>E-MAIL</span>
                                    </label>

                                    <label class="form-group has-top-label">
                                        <input class="form-control" id="password" type="password" placeholder="" />
                                        <span>PASSWORD</span>
                                    </label>


                                    <button class="btn btn-outline-semi-light btn-xl mt-4">LOGIN</button>

                                </form>



                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="/POD_Dummy/public/js/vendor/jquery-3.3.1.min.js"></script>
<script src="/POD_Dummy/public/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/POD_Dummy/public/js/vendor/owl.carousel.min.js"></script>
<script src="/POD_Dummy/public/js/vendor/jquery.barrating.min.js"></script>
<script src="/POD_Dummy/public/js/vendor/jquery.barrating.min.js"></script>
<script src="/POD_Dummy/public/js/vendor/landing-page/headroom.min.js"></script>
<script src="/POD_Dummy/public/js/vendor/landing-page/jQuery.headroom.js"></script>
<script src="/POD_Dummy/public/js/vendor/landing-page/jquery.scrollTo.min.js"></script>
<script src="/POD_Dummy/public/js/dore.scripts.landingpage.js"></script>
<script src="/POD_Dummy/public/js/scripts.js"></script>

<script>
    $(function(){
        Handlebars.registerHelper('solution', function(object) {
            var url = Handlebars.escapeExpression(object.url),
                    text = Handlebars.escapeExpression(object.text);

            return new Handlebars.SafeString(
                    "<a href='" + url + "'</a>"
            );
        });
    });
</script>